!!!
%html
  %head
    %title Release Times
    %link{rel: 'stylesheet', href: '/webfonts/isabel.css'}
    :css
      * { margin: 0; padding: 0 }
      body {
        font-family: 'Isabel-Regular', sans-serif;
      }
      main {
        position: relative;
        text-align: center;
        margin: 1rem auto;
        width: 80%;
      }
      h1 {
        text-align: center;
        padding: 1em;
        font-size: 5em;
        font-weight: 100;
        border-bottom: 1px solid black;
      }
      dd {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        font-weight: 100;
        border-bottom: 1px solid lightgray;
      }
      dd > div {
        flex: 1 1 5rem;
        text-align: center;
        padding: 1.5rem 1rem;
        position: relative;
        line-height: 0.5em;
      }
      .total {
        flex-grow: 1.8;
        font-size: larger;
        line-height: 0.4rem;
        text-align: left;
      }

      @media (max-width: 1000px) {
        main { width: 100% }
        dd > div { padding: 1rem; line-height: 1rem; }
        .start { order: 1; }
        .end { order: 2; }
        .total {
          flex-grow: 2;
          flex-basis: 100%;
          order: 3;
          font-size: 1.5rem;
          padding: 1rem;
          line-height: 1rem;
          text-align: center;
        }
      }
  %body
    %h1 Release Times
    %main
      %dl
        - times.each do | t |
          - if t.keys.size < 3
            - next
          %dd
            - t.each do | key, value |
              %div{class: key}= value
